@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}
body::-webkit-scrollbar {
  width: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header header {
  width: 100%;
  padding: 36px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header header img {
  cursor: pointer;
}
.header header .menu {
  display: flex;
  align-items: center;
  gap: 42px;
}
.header header .menu #toolbar {
  display: none;
}
.header header nav {
  width: 100%;
  max-width: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header header nav li {
  list-style: none;
}
.header header nav li a {
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}
.header header nav li a:hover {
  color: #D87D4A;
}

@media only screen and (max-width: 1000px) {
  .header header {
    padding: 32px 40px;
  }
  .header header .menu #toolbar {
    display: block;
    cursor: pointer;
  }
  .header header nav {
    display: none;
  }
  .header .product__shop {
    width: 100%;
    background: white;
    padding: 56px 40px 67px 40px;
  }
  .inner {
    top: 90px;
    display: none;
    width: 100%;
    height: 600px;
    position: absolute;
    background: rgba(0, 0, 0, 0.400000006);
  }
  .inner #toolbarMenyu {
    padding: 56px 40px 67px 40px;
    position: absolute;
    width: 100%;
    background: white;
  }
}
@media only screen and (max-width: 700px) {
  .header header {
    padding: 32px 24px;
    gap: 10px;
  }
  .header header .menu {
    width: 100%;
    max-width: 235px;
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: space-between;
  }
  .header header .menu #toolbar {
    display: block;
  }
  .header header nav {
    display: none;
  }
  .inner {
    display: none;
    width: 100%;
    height: 600px;
    position: absolute;
    background: rgba(0, 0, 0, 0.400000006);
    top: 90px;
  }
  .inner #toolbarMenyu {
    position: absolute;
    width: 100%;
    padding: 32px 24px 35px 24px;
    background: white;
  }
}
.head {
  width: 100%;
  background: #0E0E0E;
}

.header {
  width: 100%;
  background: #0E0E0E;
  background-image: url(/img/desktop/hero-bg-headphones.svg);
  background-repeat: no-repeat;
  background-position: right top;
}
.header .promo__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 128px 15px 158px 15px;
  gap: 40px;
}
.header .promo__header .promo__about {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header .promo__header .promo__about span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4963814914);
}
.header .promo__header .promo__about h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.header .promo__header .promo__about p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.75);
}
.header .promo__header a {
  width: 100%;
  max-width: 160px;
  padding: 15px 0;
  background: #D87D4A;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
}
.header .promo__header a:hover {
  background: #FBAF85;
}

@media only screen and (max-width: 1000px) {
  .header {
    width: 100%;
    background-image: url(/img/tablet/hero-bg-tablet.png);
    background-position: center;
  }
  .header .promo__header {
    align-items: center;
    padding: 126px 40px 167px 40px;
  }
  .header .promo__header .promo__about {
    align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    background-image: url(/img/mobile/hero-bg-mobile.png);
    background-repeat: no-repeat;
  }
  .header .promo__header {
    width: 100%;
    padding: 108px 24px 112px 24px;
    gap: 28px;
  }
  .header .promo__header .promo__about {
    gap: 16px;
  }
  .header .promo__header .promo__about h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.286px;
    margin-bottom: 8px;
  }
}
.product__shop {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
}
.product__shop .products {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__shop .products .product__img {
  z-index: 999;
  position: relative;
}
.product__shop .products .product__img img {
  width: 100%;
  max-width: 125px;
}
.product__shop .products .product__img::before {
  position: absolute;
  content: "";
  width: 122px;
  height: 18px;
  background: #000;
  filter: blur(21.7462539673px);
  bottom: 0;
}
.product__shop .products .info {
  width: 100%;
  border-radius: 8px;
  background: #F1F1F1;
  transform: translateY(-80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 116px 0 30px 0;
}
.product__shop .products .info h5 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.286px;
  text-transform: uppercase;
  color: #000;
}
.product__shop .products .info a {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 13px;
}
.product__shop .products .info a:hover {
  color: #D87D4A;
}

@media only screen and (max-width: 1000px) {
  .product__shop {
    width: 100%;
  }
  .product__shop .products .product__img {
    z-index: 999;
    position: relative;
  }
  .product__shop .products .product__img img {
    max-width: 90px;
  }
  .product__shop .products .product__img::before {
    position: absolute;
    content: "";
    width: 95px;
    height: 14px;
    background: #000;
    filter: blur(21.7462539673px);
    bottom: 0;
  }
  .product__shop .products .info {
    transform: translateY(-52px);
    padding: 88px 0 22px 0;
  }
  .product__shop .products .info h5 {
    font-size: 15px;
    letter-spacing: 1.071px;
  }
}
@media only screen and (max-width: 700px) {
  .product__shop {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
.bringing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.bringing #tablet {
  display: none;
}
.bringing #mobile {
  display: none;
}
.bringing .bringing__about {
  width: 100%;
  max-width: 445px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.bringing .bringing__about h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.429px;
  text-transform: uppercase;
}
.bringing .bringing__about h2 span {
  color: #D87D4A;
}
.bringing .bringing__about p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

@media only screen and (max-width: 1000px) {
  .bringing {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
  }
  .bringing #desktop {
    display: none;
  }
  .bringing #tablet {
    display: block;
    width: 100%;
  }
  .bringing .bringing__about {
    width: 100%;
    max-width: 700px;
    text-align: center;
  }
}
@media only screen and (max-width: 700px) {
  .bringing {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
  .bringing #desktop {
    display: none;
  }
  .bringing #tablet {
    display: none;
    width: 100%;
  }
  .bringing #mobile {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .bringing .bringing__about {
    width: 100%;
    max-width: 700px;
    text-align: center;
  }
}
footer {
  width: 100%;
  background: #000;
}
footer .footer {
  padding: 75px 15px 48px 15px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
  background-image: url(/img/icons/Rectangle.svg);
  background-repeat: no-repeat;
  background-position: 15px 0;
}
footer .footer .footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer .footer__nav nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 450px;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}
footer .footer .footer__nav nav li a {
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}
footer .footer .footer__nav nav li a:hover {
  color: #D87D4A;
}
footer .footer .footer__content {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
footer .footer .footer__content .content__about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .footer .footer__content .content__about p {
  width: 100%;
  max-width: 540px;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.5019607843);
}
footer .footer .footer__content .content__about .social__network {
  width: 100%;
  max-width: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer .footer__content .content__about .social__network a:hover svg path {
  fill: #D87D4A;
}
footer .footer .footer__content .content__about #tablet {
  display: none;
}

@media only screen and (max-width: 1000px) {
  footer {
    width: 100%;
    background: #000;
  }
  footer .footer {
    gap: 32px;
    padding: 60px 40px 48px 40px;
    background-position: 40px 0;
  }
  footer .footer .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  footer .footer .footer__content {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  footer .footer .footer__content .content__about p {
    width: 100%;
    max-width: 100%;
  }
  footer .footer .footer__content .content__about #desktop {
    display: none;
  }
  footer .footer .footer__content .content__about #tablet {
    display: flex;
  }
}
@media only screen and (max-width: 700px) {
  footer {
    width: 100%;
    background: #000;
  }
  footer .footer {
    gap: 48px;
    padding: 52px 24px 38px 24px;
    background-position: center 0;
  }
  footer .footer .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  footer .footer .footer__nav nav {
    flex-direction: column;
    gap: 16px;
  }
  footer .footer .footer__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  footer .footer .footer__content .content__about {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;
  }
  footer .footer .footer__content .content__about p {
    width: 100%;
    max-width: 100%;
  }
  footer .footer .footer__content .content__about #desktop {
    display: none;
  }
  footer .footer .footer__content .content__about #tablet {
    display: flex;
  }
}
main {
  width: 100%;
  padding: 120px 15px 200px 15px;
  display: flex;
  flex-direction: column;
  gap: 116px;
  flex-grow: 1;
}
main .about__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 84px;
}
main .about__title .title__speaker {
  width: 100%;
  padding: 96px 95px 0 118px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background: #D87D4A;
  background-image: url(/img/desktop/bg-circle-desktop.png);
  background-repeat: no-repeat;
  background-position: left top;
}
main .about__title .title__speaker .title__info {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-top: 35px;
}
main .about__title .title__speaker .title__info .info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #FFF;
}
main .about__title .title__speaker .title__info .info h3 {
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main .about__title .title__speaker .title__info .info p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}
main .about__title .title__speaker .title__info a {
  width: 100%;
  max-width: 160px;
  background: #000;
  padding: 15px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}
main .about__title .title__speaker .title__info a:hover {
  background: #4C4C4C;
}
main .about__title .speaker__title {
  width: 100%;
  height: 320px;
  padding: 0 95px;
  background-image: url(/img/desktop/speaker-bg-img.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
main .about__title .speaker__title .info {
  width: 100%;
  max-width: 204px;
  height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .about__title .speaker__title .info h3 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
}
main .about__title .speaker__title .info a {
  width: 100%;
  max-width: 160px;
  padding: 15px 0;
  border: 2px solid black;
  background: transparent;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
main .about__title .speaker__title .info a:hover {
  background: #000;
  color: #FFF;
}
main .about__title .earphone__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
main .about__title .earphone__title img {
  width: 100%;
  max-width: 540px;
}
main .about__title .earphone__title .title__about {
  width: 100%;
  max-width: 540px;
  padding: 0 95px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #F1F1F1;
}
main .about__title .earphone__title .title__about .info {
  width: 100%;
  max-width: 247px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main .about__title .earphone__title .title__about .info h3 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
}
main .about__title .earphone__title .title__about .info a {
  width: 100%;
  max-width: 160px;
  padding: 15px 0;
  border: 2px solid black;
  background: transparent;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
main .about__title .earphone__title .title__about .info a:hover {
  background: #000;
  color: #FFF;
}

@media only screen and (max-width: 1000px) {
  main {
    gap: 44px;
    padding: 96px 40px;
  }
  main .about__title {
    gap: 32px;
  }
  main .about__title .title__speaker {
    padding: 52px 170px 64px 170px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    background-image: url(/img/tablet/circle-bg-tablet.png);
    background-repeat: no-repeat;
    background-position: center top;
  }
  main .about__title .title__speaker img {
    width: 100%;
    max-width: 200px;
  }
  main .about__title .title__speaker .title__info {
    align-items: center;
    margin-top: 10px;
    text-align: center;
  }
  main .about__title .speaker__title {
    padding: 0 62px;
    background-image: url(/img/tablet/speaker-bg-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  main .about__title .earphone__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  main .about__title .earphone__title img {
    width: 100%;
    max-width: 350px;
    height: 320px;
  }
  main .about__title .earphone__title .title__about {
    width: 100%;
    max-width: 450px;
    padding: 0 41px;
  }
}
@media only screen and (max-width: 700px) {
  main {
    padding: 40px 24px 120px 24px;
  }
  main .about__title {
    gap: 24px;
  }
  main .about__title .title__speaker {
    padding: 55px 23px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  main .about__title .title__speaker img {
    width: 100%;
    max-width: 200px;
  }
  main .about__title .title__speaker .title__info {
    align-items: center;
    margin-top: 10px;
    text-align: center;
  }
  main .about__title .title__speaker .title__info .info h3 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.286px;
  }
  main .about__title .speaker__title {
    padding: 0 62px;
    background-image: url(/img/tablet/speaker-bg-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -50px;
  }
  main .about__title .earphone__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }
  main .about__title .earphone__title img {
    width: 100%;
    max-width: 699px;
    height: 320px;
  }
  main .about__title .earphone__title .title__about {
    width: 100%;
    max-width: 699px;
    height: 200px;
    padding: 0 24px;
  }
}/*# sourceMappingURL=style.css.map */