.bringing{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  #tablet{
    display: none;
  }
  #mobile{
    display: none;
  }
  .bringing__about{
    width: 100%;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    h2{
      font-size: 40px;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 1.429px;
      text-transform: uppercase;
      span{
        color: #D87D4A;
      }
    }
    p{
      font-size: 15px;
      font-weight: 500;
      line-height: 25px;
    }
  }
}

//TABLET VERSION
@media only screen and (max-width: 1000px){
  .bringing{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
    #desktop{
      display: none;
    }
    #tablet{
      display: block;
      width: 100%;
    }
    .bringing__about{
      width: 100%;
      max-width: 700px;
      text-align: center;
    }
  }
}


//MOBILE VERSION
@media only screen and (max-width: 700px){
  .bringing{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    #desktop{
      display: none;
    }
    #tablet{
      display: none;
      width: 100%;
    }
    #mobile{
      display: block;
      width: 100%;
      max-width: 100%;
    }
    .bringing__about{
      width: 100%;
      max-width: 700px;
      text-align: center;
    }
  }
}