
.header{
  header{
    // background: red;
    width: 100%;
    padding: 36px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff33;
    img{
      cursor: pointer;
    }
    .menu{
      display: flex;
      align-items: center;
      gap: 42px;
      #toolbar{
        display: none;
      }
    }
    nav{
      width: 100%;
      max-width: 430px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li{
        list-style: none;
        a{
          font-size: 13px;
          font-weight: 700;
          line-height: 25px;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-decoration: none;
          color: #FFF;
          &:hover{
            color: #D87D4A;
          }
        }
      }
    }
  }
}

//TABLET VERSION
@media only screen and (max-width:1000px){
  .header{
    header{
      padding: 32px 40px;
      .menu{
        #toolbar{
          display: block;
          cursor: pointer;
        }
      }
      nav{
        display: none;
      }
    }
  }
}

//MOBILE VERSION
@media only screen and (max-width:700px) {
  .header{
    header{
      padding: 32px 24px;
      gap: 10px;
      .menu{
        width: 100%;
        max-width: 235px;
        display: flex;
        align-items: center;
        gap: 2px;
        justify-content: space-between;
        #toolbar{
          display: block;
        }
      }
      nav{
        display: none;
      }
    }
  }
}